
name: PR Title, Description, and Commit Messages Validation

on:
  repository_dispatch:
    types:
      - trigger-pr-validation

jobs:
  validate_pr:
    runs-on: ubuntu-latest

    steps:
      - name: Get PR Title, Description, and Commits
        env:
          title: ${{ github.event.client_payload.pr_title }}
          description: ${{ github.event.client_payload.pr_description }}
          commits: ${{ github.event.client_payload.pr_commits }}
        run: |
          title_pattern="^BA-[0-9]+ .*"
          description_min_length=20
          commit_message_pattern="^BA-[0-9]+ .*"
          
          if [[ !  $title =~ $title_pattern ]]; then
            echo "PR title does not follow the pattern. Please use 'BA-### Your title.'"
            exit 1
          fi
          
          if [[ ${#description} -lt $description_min_length ]]; then
            echo "PR description should be at least $description_min_length characters."
            exit 1
          fi
          
          non_matching_commits=()
          IFS=$'\n'
          for commit in $commits; do
            if [[ ! $commit =~ $commit_message_pattern ]]; then
              non_matching_commits+=("$commit")
            fi
          done
          unset IFS
          
          if [[ ${#non_matching_commits[@]} -gt 0 ]]; then
            echo "The following commit messages do not match the pattern:"
            for non_matching_commit in "${non_matching_commits[@]}"; do
              echo "- $non_matching_commit"
            done
            exit 1
          fi


      - name: Set Workflow Run ID as an Output
        id: set_workflow_run_id
        run: echo "WorkflowRunID=${{ github.run_id }}" >> $GITHUB_ENV

      - name: Set Status Check
        if: ${{ failure() }}
        run: |
          echo "The PR title, description, or commit message validation failed."
          echo "::error::Validation failed"

      - name: Report Workflow Status
        if: ${{ always() }}
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const github1 = require('@actions/github');

            const status = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: github1.sha,
              state: 'success',  // or 'failure' as appropriate
              context: 'PR Validation',
              description: 'Validation completed',
            };

            await github1.repos.createStatus(status);
            // Set the workflow run ID as an output
            core.setOutput('workflow_run_id', process.env.WorkflowRunID);


